* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
::before {
  box-sizing: border-box;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 900;
  font-style: normal;
}

body {
  display: block;
  margin: 0;
  font-family: san-serif;
  overflow-x: hidden;
}

.welcome {
  width: 100% /*320px*/;
  min-height: 100vh /*567px*/;
  position: relative;
  background: #0a0e34 url(../images/football_767.jpg) center / cover no-repeat;
}

.welcome::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
}

.container {
  position: relative;
  z-index: 1;
}

.header-logo {
  background-image: url("../svg/surface_logo_text.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 42% /*133px*/;
  height: 38px;
  margin: 30px 29% 135px 29%;
  fill: #ffffff;
}

.welcome-title {
  margin-left: 20px;
  margin-bottom: 85px;
  margin-right: 40px;
  font-size: 28px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
}

.welcome-title-second {
  display: block;
  margin-left: 65px;
  margin-top: 28px;
}

.button {
  display: flex;
  flex-wrap: wrap;
}

.button-link {
  font-size: 8px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  width: 280px;
  height: 35px;
  background-color: #5e42b0;
  margin: 0 auto 15px auto;
  display: flex;
  padding: 3px 83px;
}

.apple-logo {
  background-image: url("../svg/apple_logo_black.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  fill: #ffffff;
}

.google-play {
  background-image: url("../svg/google-play.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  fill: #ffffff;
}

.button-text {
  flex-direction: column;
  margin-left: 10px;
}

.button-title {
  font-size: 8px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 400;
  text-transform: uppercase;
  display: block;
}

.button-link-text {
  display: block;
}

.athlets-title {
  font-size: 50px;
  color: #e7e7e7;
  font-family: "Open Sans";
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-transform: uppercase;
}

.athlets-image {
  margin: 20px 70px;
}

.athlets-list-cover {
  background-color: #fafafa;
}

.athlets-list-cover:nth-child(3n + 2) {
  background-color: #f5f4f9;
}

.athlets-list-cover:nth-child(3n + 3) {
  background-color: #5e42b0;
}

.athlets-list-item {
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 700;
  width: 15px;
  margin-right: 10px;
}

.athlets-list-item::after {
  content: "";
  display: block;
  width: 15px;
  height: 4px;
  border-radius: 1px;
  background-color: #5e42b0;
}

.athlets-list-header {
  font-size: 23px;
  letter-spacing: 1px;
  color: #c1c1c1;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  margin-left: 20px;
  padding-top: 30px;
}

.athlets-list-cover:nth-of-type(1n + 2) .athlets-list-header {
  padding-top: 60px;
}

.athlets-list-cover:nth-of-type(3n + 3) .athlets-list-item::after {
  background-color: #ffffff;
}

.athlets-list-text {
  width: 280px;
  height: auto;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 25px 20px 0 20px;
  padding-bottom: 50px;
}

.athlets-list-cover:nth-of-type(3n) .athlets-list-text {
  color: #ffffff;
}

.players-title {
  font-size: 50px;
  color: #e7e7e7;
  font-family: "Open Sans";
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-transform: uppercase;
}

.players-image {
  margin: 20px 10px;
}

.players-list-cover {
  background-color: #fafafa;
}

.players-list-cover:nth-child(3n + 2) {
  background-color: #f5f4f9;
}

.players-list-cover:nth-child(3n + 3) {
  background-color: #090c35;
}

.players-list-item {
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 700;
  width: 15px;
  margin-right: 10px;
}

.players-list-item::after {
  content: "";
  display: block;
  width: 15px;
  height: 4px;
  border-radius: 1px;
  background-color: #5e42b0;
}

.players-list-header {
  font-size: 23px;
  letter-spacing: 1px;
  color: #c1c1c1;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  margin-left: 20px;
  padding-top: 30px;
}

.players-list-text {
  width: 280px;
  height: auto;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 25px 20px 0 20px;
  padding-bottom: 50px;
}

.players-list-cover:nth-of-type(3n) .players-list-text {
  color: #ffffff;
}

.players-list-cover:nth-of-type(1n + 2) .players-list-header {
  padding-top: 60px;
}

.players-list-cover:nth-of-type(3n + 3) .players-list-item {
  color: #8765dd;
}

.players-list-cover:nth-of-type(3n + 3) .players-list-item::after {
  background-color: #ffffff;
}

.motivation-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.motivation-image-first {
  width: 100%;
}

.motivation-image-second {
  width: 100%;
}

.motivation-image-third {
  width: 100%;
}

.motivation-list-item {
  background-color: #5e42b0;
  width: 70px;
  height: 70px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #f5f6f7;
  font-family: "Open Sans";
  font-weight: 700;
  top: -58px;
  left: 20px;
  position: absolute;
  line-height: 20px;
  padding: 25px;
}

.motivation-list-item::after {
  content: "";
  display: block;
  width: 15px;
  height: 4px;
  border-radius: 1px;
  background-color: #ffffff;
  opacity: 0.3;
}

.motivation-card {
  position: relative;
}

.motivation-list-header {
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #e7e7e7;
  font-family: "Open Sans";
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 30px;
  margin-left: 20px;
}

.motivation-list-text {
  width: 280px;
  height: auto;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 18px;
  color: #000000;
  font-family: "Open Sans";
  font-weight: 400;
  margin: 25px 20px 50px 20px;
}

.footer {
  width: 100% /*320px*/;
  min-height: 100vh /*567px*/;
  position: relative;
  background: #0a0e34 url(../images/game_767.jpg) center / cover no-repeat;
}

.footer::after {
  content: "";
  background-color: #0a0e34;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
}

.footer-wrapper {
  position: relative;
  z-index: 1;
}

.flex-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 13vh;
}

.footer-logo {
  background-repeat: no-repeat;
  background-position: center center;
  width: 50px;
  height: 50px;
  fill: #ffffff;
  margin: 17vh auto;
  background-color: #5e42b0;
  border-radius: 15px;
  border: solid #5e42b0 10px;
  box-sizing: content-box;
}

.download-link {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 32px;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 700;
  text-align: center;
}

.footer-title {
  font-size: 14px;
  letter-spacing: 1px;
  color: #9b8ec1;
  font-family: "Open Sans";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}



@media (min-width: 641px) and (max-width: 960px) {

  .welcome {
    width: 100% /*770px*/;
    min-height: 100vh /*955px*/;
    position: relative;
    background: #0a0e34 url(../images/football_1280.jpg) center / cover no-repeat;
  }

  .welcome::after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .header-logo {
    background-image: url("../svg/surface_logo_text.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 28% /*205px*/;
    height: 60px;
    margin: 3.5vh /*37px*/ 36% 0px 36%;
    fill: #ffffff;
  }

  .welcome-title {
    margin: 180px 85px 300px 90px;
    font-size: 64px;
    letter-spacing: 3px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
  }

  .welcome-title-second {
    display: block;
    margin-top: 0;
    margin-left: 90px;
  }

  .button {
    display: flex;
  }

  .button-link {
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    filter: drop-shadow(8px 13.856px 12px #0a0e34);
    border-radius: 38px;
    width: 40% /*310px*/;
    height: 80px;
    background-color: #5e42b0;
    margin: 0 5% 5vh /*90px*/ 5%;
    display: flex;
    padding: 15px 37px;
  }

  .apple-logo {
    background-image: url("../svg/apple_logo_black.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    fill: #ffffff;
  }

  .google-play {
    background-image: url("../svg/google-play.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    fill: #ffffff;
  }

  .button-text {
    flex-direction: column;
    margin-left: 25px;
  }

  .button-title {
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 300;
    text-transform: uppercase;
    display: block;
  }

  .button-link-text {
    display: block;
  }

  .athlets {
    position: relative;
  }

  .athlets-title {
    font-size: 80px;
    color: #e7e7e7;
    font-family: "Open Sans";
    font-weight: 700;
    margin-top: 85px;
    margin-bottom: 54px;
    margin-left: 290px;
    text-transform: uppercase;
    position: relative;
  }

  .athlets-image {
    top: 0;
    right: 60% /*360px*/;
    position: absolute;
  }

  .athlets-list-cover {
    background-color: #fafafa;
  }

  .athlets-list-cover:nth-child(3n + 2) {
    background-color: #f5f4f9;
  }

  .athlets-list-cover:nth-child(3n + 3) {
    background-color: #5e42b0;
  }

  .athlets-list-item {
    font-size: 18px;
    letter-spacing: 1px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 700;
    width: 20px;
    margin-right: 15px;
  }

  .athlets-list-item::after {
    content: "";
    display: block;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
  }

  .athlets-list-header {
    font-size: 32px;
    letter-spacing: 2px;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    margin-left: 38% /*290px*/;
    padding-top: 30px;
  }

  .athlets-list-cover:nth-of-type(3n + 3) .athlets-list-item::after {
    background-color: #ffffff;
  }

  .athlets-list-text {
    width: 58% /*445px*/;
    height: auto;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 400;
    margin: 30px 4% 0 38%;
    padding-bottom: 35px;
  }

  .athlets-list-cover:nth-of-type(3n) .athlets-list-text {
    color: #ffffff;
  }

  .players {
    position: relative;
  }

  .players-title {
    font-size: 80px;
    color: #e7e7e7;
    font-family: "Open Sans";
    font-weight: 700;
    margin-top: 85px;
    margin-bottom: 54px;
    margin-left: 4%;
    text-transform: uppercase;
    position: relative;
  }

  .players-image {
    top: 0;
    right: 0;
    left: 40% /*360px*/;
    position: absolute;
  }

  .players-list-cover {
    background-color: #fafafa;
    width: 100%;
  }

  .players-list-cover:nth-child(3n + 2) {
    background-color: #f5f4f9;
  }

  .players-list-cover:nth-child(3n + 3) {
    background-color: #090c35;
  }

  .players-list-item {
    font-size: 18px;
    letter-spacing: 1px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 700;
    width: 20px;
  }

  .players-list-item::after {
    content: "";
    display: block;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
  }

  .players-list-header {
    font-size: 32px;
    letter-spacing: 2px;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    margin-left: 30px;
    width: 58% /*445px*/;
    padding-top: 30px;
  }

  .players-list-cover:nth-of-type(3n + 3) .athlets-list-item::after {
    background-color: #ffffff;
  }

  .players-list-text {
    width: 58% /*445px*/;
    height: auto;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 400;
    margin: 30px 4% 0 4%;
    display: block;
    padding-bottom: 35px;
  }

  .players-list-cover:nth-of-type(3n) .players-list-text {
    color: #ffffff;
  }

  .players-list-cover:nth-of-type(3n + 3) .players-list-item {
    color: #8765dd;
  }

  .players-list-cover:nth-of-type(3n + 3) .players-list-item::after {
    background-color: #ffffff;
  }

  .motivation-list {
    display: flex;
    flex-wrap: wrap;
  }

  .motivation-image-first {
    width: 100%;
  }

  .motivation-image-second {
    width: 100%;
  }

  .motivation-image-third {
    width: 100%;
  }

  .motivation-list-item {
    background-color: #5e42b0;
    width: 115px;
    height: 115px;
    font-size: 24px;
    letter-spacing: 1px;
    color: #f5f6f7;
    font-family: "Open Sans";
    font-weight: 700;
    top: -80px;
    left: 33px;
    position: absolute;
    line-height: 40px;
    padding: 35px 40px;
  }

  .motivation-list-item::after {
    content: "";
    display: block;
    width: 25px;
    height: 5px;
    border-radius: 2px;
    background-color: #ffffff;
    opacity: 0.3;
  }

  .motivation-card {
    position: relative;
  }

  .motivation-list-header {
    font-size: 80px;
    line-height: 60px;
    color: #e7e7e7;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 90px;
    margin-left: 30px;
  }

  .motivation-list-text {
    width: 665px;
    height: auto;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 400;
    margin: 40px 30px 90px;
  }

  .footer {
    width: 100% /*770px*/;
    min-height: 100vh /*955px*/;
    position: relative;
    background: #0a0e34 url(../images/game_1280.jpg) center / cover no-repeat;
  }

  .footer::after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
  }

  .footer-wrapper {
    position: relative;
    z-index: 1;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 25vh;
  }

  .footer-logo {
    background-repeat: no-repeat;
    background-position: center center;
    width: 100px;
    height: 100px;
    fill: #ffffff;
    margin: 0;
    background-color: #5e42b0;
    border-radius: 30px;
    border: solid #5e42b0 20px;
    box-sizing: content-box;
    margin: 12.5vh 41%;
  }

  .download-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 80px;
    letter-spacing: 4px;
    line-height: 60px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    margin: auto;
    text-align: center;
  }

  .footer-title {
    font-size: 36px;
    color: #a496ca;
    font-family: "Open Sans";
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }
}



@media (min-width: 961px) and (max-width: 1920px) {

  .welcome {
    width: 100% /*1915px*/;
    min-height: 100vh /*955px*/;
    position: relative;
    background: #0a0e34 url(../images/football_1920.jpg) center / cover no-repeat;
  }

  .welcome::after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .header-logo {
    background-image: url("../svg/surface_logo_text.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 10% /*195px*/;
    height: 55px;
    margin: 4.2vh /*40px*/ 45% 0px 45%;
    fill: #ffffff;
  }

  .welcome-title {
    margin: 25vh 10% 0 /*295px 190px 220px*/;
    font-size: 90px;
    letter-spacing: 5px;
    line-height: 31px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
  }

  .welcome-title-second {
    font-size: 90px;
    letter-spacing: 5px;
    line-height: 100px;
    display: block;
    margin-top: 25px;
    margin-left: 23%;
  }

  .button {
    display: flex;
    margin-top: 20vh;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .button-link {
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    filter: drop-shadow(8px 13.856px 12px #0a0e34);
    border-radius: 38px;
    width: 310px;
    height: 80px;
    background-color: #5e42b0;
    display: flex;
    padding: 15px 37px;
  }

  .button-link:nth-child(2n + 1) {
    margin-right: 25px;
  }

  .button-link:nth-child(1n + 2) {
    margin-left: 25px;
  }

  .apple-logo {
    background-image: url("../svg/apple_logo_black.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    fill: #ffffff;
  }

  .google-play {
    background-image: url("../svg/google-play.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 45px;
    fill: #ffffff;
  }

  .button-text {
    flex-direction: column;
    margin-left: 25px;
  }

  .button-title {
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    text-align: left;
  }

  .button-link-text {
    display: block;
    text-align: left;
  }

  .athlets {
    position: relative;
  }

  .athlets-title {
    font-size: 80px;
    color: #e7e7e7;
    font-family: "Open Sans";
    font-weight: 700;
    margin-top: 85px;
    margin-bottom: 54px;
    margin-left: 38%;
    text-transform: uppercase;
    position: relative;
  }

  .athlets-image {
    top: -10vh;
    right: 60%;
    position: absolute;
  }

  .athlets-list-cover {
    background-color: #fafafa;
  }

  .athlets-list-cover:nth-child(3n + 2) {
    background-color: #f5f4f9;
  }

  .athlets-list-cover:nth-child(3n + 3) {
    background-color: #5e42b0;
  }

  .athlets-list-item {
    font-size: 18px;
    letter-spacing: 1px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 700;
    width: 20px;
    margin-right: 15px;
  }

  .athlets-list-item::after {
    content: "";
    display: block;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
  }

  .athlets-list-header {
    font-size: 32px;
    letter-spacing: 2px;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    margin-left: 38%;
    padding-top: 30px;
  }

  .athlets-list-cover:nth-of-type(3n + 3) .athlets-list-item::after {
    background-color: #ffffff;
  }

  .athlets-list-text {
    width: 58%;
    height: auto;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 400;
    margin: 30px 4% 0 38%;
    padding-bottom: 35px;
  }

  .athlets-list-cover:nth-of-type(3n) .athlets-list-text {
    color: #ffffff;
  }

  .players {
    position: relative;
  }

  .players-title {
    font-size: 80px;
    color: #e7e7e7;
    font-family: "Open Sans";
    font-weight: 700;
    margin-top: 85px;
    margin-bottom: 54px;
    margin-left: 4%;
    text-transform: uppercase;
    position: relative;
    width: 40%;
  }

  .players-image {
    top: -10vh;
    right: 0;
    left: 40%;
    position: absolute;
  }

  .players-list-cover {
    background-color: #fafafa;
    width: 100%;
  }

  .players-list-cover:nth-child(3n + 2) {
    background-color: #f5f4f9;
  }

  .players-list-cover:nth-child(3n + 3) {
    background-color: #090c35;
  }

  .players-list-item {
    font-size: 18px;
    letter-spacing: 1px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 700;
    width: 20px;
  }

  .players-list-item::after {
    content: "";
    display: block;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
  }

  .players-list-header {
    font-size: 32px;
    letter-spacing: 2px;
    color: #c1c1c1;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    margin-left: 4%;
    width: 58%;
    padding-top: 30px;
  }

  .players-list-cover:nth-of-type(3n + 3) .athlets-list-item::after {
    background-color: #ffffff;
  }

  .players-list-text {
    width: 58%;
    height: auto;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 400;
    margin: 30px 4% 0 4%;
    display: block;
    padding-bottom: 35px;
  }

  .players-list-cover:nth-of-type(3n) .players-list-text {
    color: #ffffff;
  }

  .players-list-cover:nth-of-type(3n + 3) .players-list-item {
    color: #8765dd;
  }

  .players-list-cover:nth-of-type(3n + 3) .players-list-item::after {
    background-color: #ffffff;
  }

  .motivation-list {
    display: flex;
    flex-wrap: wrap;
  }

  .motivation-list:nth-of-type(2) {
    flex-direction: row-reverse;
  }

  .motivation-image-first {
    width: 50%;
    height: auto;
    
  }

  .motivation-image-second {
    width: 50%;
    height: auto;
  }

  .motivation-image-third {
    width: 50%;  
    height: auto;
  }

  .motivation-image-first-1 {
    width: 100%;
    height: auto;
  }

  .motivation-image-second-2 {
    width: 100%;
    height: auto;
  }

  .motivation-image-third-3 {
    width: 100%;
    height: auto;
  }

  .motivation-list-item {
    background-color: #5e42b0;
    width: 170px;
    height: 155px;
    font-size: 24px;
    letter-spacing: 1px;
    color: #f5f6f7;
    font-family: "Open Sans";
    font-weight: 700;
    position: absolute;
    line-height: 40px;
    padding: 60px 70px;
    top: calc(50% - 155px/2);
    left: calc(50% - 120%/2);
  }

  .motivation-list:nth-of-type(2n) .motivation-list-item {
    left: calc(50% + 80%/2);
  }


  .motivation-list-item::after {
    content: "";
    display: block;
    width: 25px;
    height: 5px;
    border-radius: 2px;
    background-color: #ffffff;
    opacity: 0.3;
  }

  .motivation-card {
    position: relative;
    width: 50%;
  }

  .motivation-list-header {
    width: 70%;
    font-size: 80px;
    line-height: 60px;
    color: #e7e7e7;
    font-family: "Open Sans";
    font-weight: 700;
    text-transform: uppercase;
  }

  .motivation-list-text {
    width: 80%;
    height: auto;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 28px;
    color: #000000;
    font-family: "Open Sans";
    font-weight: 400;
  }

  .footer {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: #0a0e34 url(../images/game_1280.jpg) center / cover no-repeat;
  }

  .footer::after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
  }

  .footer-wrapper {
    position: relative;
    z-index: 1;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    padding-top: 26vh;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .footer-logo {
    background-repeat: no-repeat;
    background-position: center center;
    width: 95px;
    height: 95px;
    fill: #ffffff;
    margin: 20px 15px;
    background-color: #5e42b0;
    border-radius: 30px;
    border: solid #5e42b0 30px;
  }

  .download-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 80px;
    letter-spacing: 4px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 700;
    margin-left: 0;
    margin-bottom: 1vh;
  }

  .footer-title {
    font-size: 36px;
    color: #a496ca;
    font-family: "Open Sans";
    font-weight: 400;
    text-transform: uppercase;
  }
}

@media (min-width: 1921px) {
  .welcome {
    background-image: url(../images/football-801047.jpg);
  }
}